<div class="navLinks">
    <a [routerLink]='["./main"]' class='m-5'>Main</a>
    <a [routerLink]='["./mas-info"]' class='m-5'>Mas info</a>
    <a [routerLink]='["./",5]' class='m-5'>Detalle</a>

    <router-outlet></router-outlet>
</div>