<div class="container content">

    <div class="page-header">
        <div style="float:right">
            <select (change)="translate.use($event.target.value)">
                <option value="es">Espanol</option>
                <option value="fr">Frances</option>
                <option value="en">English</option>
            </select>
        </div>


        <div class="container">
            <div class="navLinks">
                <a [routerLink]='["/home"]'>Home</a>
            </div>
        </div>
    </div>
    <div class="row">
        <h1>{{title}} <b [innerHTML]="'texto_saludo' | translate"></b></h1>
    </div>
    <!--<app-lista-destinos></app-lista-destinos> -->
    <router-outlet></router-outlet>
</div>
<hr class='mb-5'> Fecha : {{time | async}}