<form class="form-inline" *ngIf='!authService.getUser()'>
    <div class="form-group">
        <label for="username">User: (type <em> user</em>)</label>
        <input class="form-control" name='username' #username>
    </div>
    <div class="form-group">
        <label for="password">Password: (type<em>password</em>)</label>
        <input type="password" class="form-control" name='password' #password>
    </div>
    <a (click)='login(username.value,password.value)' class="btn btn-default">Entrar!</a>
    <p>{{mensajeError}}</p>
</form>
<a (click)='logout()' class="btn btn-default" *ngIf='authService.getUser()'>Salir</a>